<div>
    <form id="vat-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <fieldset class="fieldset">
            <legend data-bind="i18n: 'Vat Checkout Form'"></legend>
            <p data-bind="html: details() "></p>
            <!-- ko foreach: getRegion('vat-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </fieldset>

        <div class="loading-vat" data-bind="visible: isLoading">
            <span data-bind="html: isLoading"></span>
        </div>

        <div class="message-success success message" data-bind="visible: isValid">
            <span data-bind="html: isValid"></span>
        </div>
        <div class="message-error error message" data-bind="visible: isInvalid">
            <span data-bind="html: isInvalid"></span>
        </div>

        <button type="reset" data-bind="click: onReset">
            <span data-bind="i18n: 'Reset'"></span>
        </button>
        <button type="button" data-bind="click: onSubmit" class="action">
            <span data-bind="i18n: 'Submit'"></span>
        </button>
    </form>
</div>
