<div>
    <form id="vat-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <fieldset class="fieldset">
            <legend data-bind="i18n: 'Vat Checkout Form'"></legend>
            <p data-bind="html: details() "></p>
            <!-- ko foreach: getRegion('vat-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="loading-vat" data-bind="visible: isLoading()">
                <span data-bind="i18n: 'Validating...'"></span>
            </div>
        </fieldset>
        <button type="reset" data-bind="click: onReset">
            <span data-bind="i18n: 'Reset'"></span>
        </button>
        <button type="button" data-bind="click: onSubmit" class="action">
            <span data-bind="i18n: 'Submit'"></span>
        </button>

        <div class="message-success success message" data-bind="visible: isValid">
            <span data-bind="i18n: 'Your Registration Code is valid!'"></span>
        </div>
        <div class="message-error error message" data-bind="visible: isInvalid">
            <span data-bind="i18n: 'Your Registration Code is invalid!'"></span>
        </div>

        <div class="result-preview" data-bind="visible: apiResult">
            <h3>data.gov.lv API result:</h3>
            <pre data-bind="html: apiResult"></pre>
        </div>
    </form>
</div>
