<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_collect_totals_before">
        <observer instance="Karlis\Vat\Observer\Sales\QuoteCollectTotalsBefore"
                  name="karlis_vat_observer_sales_quotecollecttotalsbefore_sales_quote_collect_totals_before"/>
    </event>
</config>
